@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,300;1,400&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&family=Raleway&display=swap');

.ContenedorTotal-TCategorias {
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
}

.ContenedorInfo-TCategorias {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.TituloSeccion-TCategorias {
    font-family: 'Raleway' , sans-serif;
    font-weight: normal;
    color:  rgb(73, 70, 70);
}

.NumeroProductos-TCategorias {
    font-family: 'Raleway' , sans-serif;
    color: #cc0000;
    font-weight: bold;
    padding-left: 5px;
}