@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #eee;
}

footer {
    border-top: 1px solid #eee;
}

a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #fff;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contenidoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.logoHeader {
    width: 170px;
    height: 60px;
}

.imagenLogoHeader {
    width: 100%;
    height: 100%;
}

.barraNavegacion {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
}

.logoBusqueda {
    color: #636363;
    font-size: 20px;
}

.logoCarrito {
    color: #636363;
    font-size: 20px;
}

.enlaceNavBar {
    display: none;
}

.burgerMenu {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.logoBurger {
    color: #636363;
    font-size: 25px;
}

.contenidoFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 324px;
    margin: auto;
}

.datosContacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tituloFooter {
    font-family: 'Roboto' , sans-serif;
    font-size: 15px;
    color: #636363;
    padding: 10px 10px 5px 10px;
}

.lineaTextoFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.textoLineaFooter {
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    margin-left: 8px;
    color: #636363;
}

.logoFooter {
    color: #636363;
    font-size: 17px;
}

.textoDerechosFooter {
    font-family: 'Roboto' , sans-serif;
    font-size: 13px;
    padding: 5px;
    color: #636363;
}

.logosRedesSociales {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding: 10px;
}

.logoRedSocial {
    color: #636363;
    font-size: 20px;
}

.productosCarritoCC {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 324px;
    margin: auto;
    margin-bottom: 30px;
}

.detalleProductoCC {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
}

.nombreYPrecioCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.containerInformacionCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tituloCC {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-weight: lighter;
}

.containerImagenProductoCC {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenProductoCC {
    width: 100%;
    padding: 20px;
}

.nombreProductoCC {
    font-size: 20px;
    font-weight: bold;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    padding: 5px;
}

.precioProductoCC {
    color: #636363;
    font-weight: normal;
    font-family: 'Roboto' , sans-serif;
    font-size: 18px;
    padding: 5px;
}

.quitarProductoCC {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.cruzQuitarCC {
    color: #cc0000;
    font-size: 13px;
    padding: 5px;
}

.textoQuitarCC {
    font-family: 'Roboto' , sans-serif;
    color: #cc0000;
    font-size: 13px;
    padding: 5px 5px 5px 0px;
}

.lineaEsteticaCC {
    border-top: 1px solid #ccc;
    width: 65%;
    position: absolute;
    bottom: 98px;
    z-index: 1;
    margin: auto;
}

.aumentarCantidadCC {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid #ccc;
    background-color: rgb(244, 242, 242);
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.signoMenosCC {
    width: 33%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.cantidadCC {
    width: 33%;
    height: 100%;
    font-family: 'Roboto' , sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}


.signoMasCC {
    width: 33%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.subtotalCC {
    color: #636363;
    font-weight: normal;
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    padding: 10px 5px 0px 5px;
}

.precioSubtotalCC {
    color: #1e912e;
    font-weight: lighter;
    font-family: 'Roboto' , sans-serif;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
}

.finalizarCompraCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 324px;
    margin: auto;
    border-top: 1px solid #ccc;
}

.tituloFinalizarCompraCC {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    font-weight: lighter;
}

.formProductCartCC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputProductCartCC {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc; 
    color: #636363;
    font-weight: normal;
    font-family: 'Roboto' , sans-serif;
}

.segundaParteFormularioCC {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textAreaComentariosCC {
    width: 100%;
    resize: none;
    border: 1px solid #ccc; 
    color: #636363;
    font-weight: normal;
    font-family: 'Roboto' , sans-serif;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
}

.buttonProductCartCC {
    width: 80%;
    height: 35px;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
    border: 1px solid #cc0000;
    color:white;
    background-color: #cc0000;
    margin-bottom: 20px;
}

.logoButtonCC {
    font-size: 16px;
    padding: 5px;
}

@media (min-width: 460px) {
    
    .contenidoFooter {
        max-width: 450px;
    }

    .productosCarritoCC {
        max-width: 380px;
    }
    
    .finalizarCompraCC {
        max-width: 380px;
    }

    .containerImagenProductoCC {
        width: 50%;
    }
}

@media (min-width: 768px) {


    .contenidoHeader {
        max-width: 720px;
        justify-content: space-between;
        margin: auto;
    }

    .burgerMenu {
        display: none;
    }

    .logoHeader {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .barraNavegacion {
        justify-content: flex-end;
    }

    .enlaceNavBar {
        padding: 10px;
    }

    .enlaceBusqueda {
        padding: 10px;
    }

    .enlaceCarritoCompras {
        padding: 10px;
    }


    .enlaceNavBar {
        display: block;
    }

    .imagenLogoHeader {
        width: 170px;
    }

    .enlaceNavBar {
        font-family: 'Roboto' , sans-serif;
        font-size: 14px;
        color: #636363;
    }

    .contenidoFooter {
        max-width: 720px;
        flex-direction: row;
        padding: 10px;
    }

    .datosContacto {
        order: 1;
        width: 33%;
    }

    .textoDerechosFooter {
        order: 2;
        width: 33%;
        text-align: center;
    }

    .logosRedesSociales {
        order: 3;
        width: 33%;
        justify-content: space-evenly;
    }

    .logoRedSocial {
        font-size: 25px;
    }

    .productosCarritoCC {
        max-width: 650px;
    }
    
    .finalizarCompraCC {
        max-width: 650px;
        
    }

    .tituloCC {
        display: flex;
        align-self: flex-start;
        margin: 0px;
        padding: 10px 0px 10px 0px;
    }

    .containerImagenProductoCC {
        width: 30%;
    }

    .lineaEsteticaCC {
        width: 50%;
    }

    .tituloFinalizarCompraCC {
        display: flex;
        align-self: flex-start;
        margin: 0px;
        padding: 20px 0px 20px 0px;
    }

    .segundaParteFormularioCC {
        width: 100%;
    }

}

@media (min-width: 992px) {
    
    .contenidoHeader {
        max-width: 960px;
    }

    .contenidoFooter {
        max-width: 960px;
    }

    .logosRedesSociales {
        justify-content: space-around;
        padding: 0px 60px;
    }

    .productosCarritoCC {
        max-width: 960px;
        
    }
    
    .finalizarCompraCC {
        max-width: 960px;
        padding-bottom: 20px;  
    }

    .detalleProductoCC {
        flex-direction: row;
        height: 142px;
    }

    .containerImagenProductoCC {
        width: 20%;
        padding: 10px;
    }

    .imagenProductoCC {
        width: 120px;
        padding: 10px;
    }

    .nombreYPrecioCC {
        width: 50%;
        align-items: flex-start;
        align-self: flex-start;
        padding: 10px;
        padding-left: 20px;
        height: 100%;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    .nombreProductoCC {
        padding-bottom: 10px;
    }

    .containerInformacionCC {
        width: 30%;
        height: 100%;
        
        justify-content: center
    }

    .textoQuitarCC {
        font-size: 16px;
    }

    .cruzQuitarCC {
        font-size: 16px;
    }

    .lineaEsteticaCC {
        width: 20%;
        bottom: 102px;
    }

    .formProductCartCC {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .primerParteFormularioCC {
        width: 48%;
    }

    .segundaParteFormularioCC {
        width: 48%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .textAreaComentariosCC {
        height: 136px;
        margin-bottom: 20px;
    }

    .buttonProductCartCC {
        width: 50%;
        margin-bottom: 0px;
    }

    
}

@media (min-width: 1200px) {

    
    .contenidoHeader {
        max-width: 1140px;
        
    }

    .contenidoFooter {
        max-width: 1140px;
    }

    .logoRedSocial {
        font-size: 28px;
    }

    .productosCarritoCC {
        max-width: 1140px;
        padding-top: 15px;
    }
    
    .finalizarCompraCC {
        max-width: 1140px;
    }

    
}

@media (min-height: 800px) {
    
    footer {
        position:fixed;
        left:0px;
        bottom:0px;
        width:100%;
     }
}



