@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}

header {
    border-bottom: 1px solid #eee;
}

body {
    margin: 0px;
    background-color: #fff;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.tituloDestacados {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.productosDestacados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    max-width: 324px;
    margin: auto;
    
}

.enlaceProducto {
    display: block;
    width: 90%;
    height: 360px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.cuadroProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.imagenProducto {
    height: 65%;
    width: 80%;
    padding: 10px;
}

.lineaEsteticaProducto {
    display: block;
    border-top: 1px solid rgb(221, 218, 218);
    width: 100%;
    position: absolute;
    top: 245px;
    z-index: 1;
    margin: auto;
   
}

.datosProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35%;
}

.nombreProducto {
    font-size: 18px;
    padding: 5px;
    font-weight: normal;
    color: rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
}

.precioProducto {
    display: flex;
    width: 100px;
    padding: 10px 5px 5px 5px;
    justify-content: center;
    align-items: center;
}

.textoPrecio {
    color: #636363;
    font-family: 'Roboto' , sans-serif;
    font-weight: bold;
}

.descripcionProducto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.textoDescripcion {
    color: #636363;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto' , sans-serif;
    text-align: center;
}

@media (min-width: 460px) {
    
    .encabezadoProductos {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 10px;
        height: 44px;
        max-width: 450px;
        margin: auto;
    }

    .tituloDestacados {
        z-index: 10;
        padding: 0px;
        width: 350px;
        position: relative;
        background-color: #fff;
    }

    .productosDestacados {
        justify-content: space-around;
    }
    
    .enlaceProducto {
        width: 45%;
        height: 300px;
    }

    .imagenProducto {
        height: 55%;
    }

    .datosProducto {
        height: 45%;
    }

    .lineaEsteticaProducto {
        display: block;
        border-top: 1px solid rgb(221, 218, 218);
        width: 100%;
        position: absolute;
        top: 170px;
        z-index: 1;
        margin: auto;
       
    }

    .nombreProducto {
        font-size: 16px;
    }

    .productosDestacados {
        max-width: 450px;
    }

}

@media (min-width: 768px) {

    .encabezadoProductos {
        max-width: 720px;
        height: 50px;
    }

    .productosDestacados {
        max-width: 720px;
        justify-content: center;
    }

    .enlaceProducto {
        width: 30%;
        margin-right:  10px;
        margin-left: 10px;
        margin-bottom: 10px;
        height: 300px;
    }

    .cuadroProducto {
        justify-content: space-around;
    }

    .imagenProducto {
        height: 55%;
    }

    .nombreProducto {
        font-size: 18px;
    }

}

@media (min-width: 992px) {

    .encabezadoProductos {
        max-width: 960px;
        height: 60px;
    }

    .productosDestacados {
        max-width: 720px;
        
    }

    .enlaceProducto {
        width: 22%;
        margin-right:  0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .productosDestacados {
        max-width: 960px;
        justify-content: space-around;
    }

    .nombreProducto {
        font-size: 17px;
    }

}

@media (min-width: 1200px) {

    .encabezadoProductos {
        max-width: 1140px;
        height: 80px;
    }

    .nombreProducto {
        font-size: 18px;
    }

    .cuadroProducto {
        flex-direction: row;
    }

    .lineaEsteticaProducto {
        top: 220px;
    }

    .productosDestacados {
        max-width: 1140px;
        justify-content: space-between;
    }

    .enlaceProducto {
        width: 22%;
        height: 340px;
    }

    .imagenProducto {
        height: 60%;
        padding-top: 30px;
    }

}