.prod-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.prod-izquierda {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    padding-top: 15px;
}
.prod-img-adicional {
    height: 50px;
}
.prod-container-img-principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.prod-img-principal {
    height: 200px;
}
.prod-img-adicionales {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.prod-container-img-adicional {
    align-items: center;
    justify-content: center;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.prod-derecha {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    margin: auto;
    padding-top: 15px;
}


.prod-descripcion {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.prod-tituloRelacionados {
    font-size: 15px;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    text-align: left;
    padding: 0px;
    width: 90%;
    margin: auto 0px;
    margin-bottom: 0px;
}

.prod-relacionados {
    border-color: red;
    border-width: 5px;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 460px) {
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}