@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #fff;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Header-Contenedor-AnchoTotal {
    width: 100%;
    background-color: #ad0909;
}

.login-ContenidoHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1px;
    max-width: 100%;
    margin: auto;
}

.logoHeader {
    width: 170px;
    height: 60px;
}

.imagenLogoHeader {
    width: 100%;
    height: 100%;
}

.barraNavegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
}

.logoBusqueda {
    color: #ffffff;
    font-size: 20px;
}

.logoCarrito {
    color: #ffffff;
    font-size: 20px;
}

.enlaceNavBar {
    display: none;
}

.burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    width: 85.25px;
}

.logoBurger {
    color: #ffffff;
    font-size: 25px;
}

.enlaceBusqueda {
    padding-right: 5px;
}

.containerUsuario {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.containerIconoUsuario {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
}



.logoUsuario {
    font-size: 14px;
    color: #ffffff;
}

.textoUsuario {
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #636363;
}

@media (min-width: 768px) {

    .containerUsuario {
        display: flex;
    }
    .contenidoHeader {
        max-width: 720px;
        justify-content: space-between;
        margin: auto;
    }

    .burgerMenu {
        display: none;
    }

    .logoHeader {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .barraNavegacion {
        justify-content: flex-end;
    }

    .enlaceNavBar {
        padding: 5px;
    }

    .enlaceBusqueda {
        padding: 10px;
    }

    .enlaceCarritoCompras {
        padding: 10px;
    }

    .enlaceBusqueda {
        display: block;
    }


    .enlaceNavBar {
        display: block;
        font-family: 'Roboto' , sans-serif;
        font-size: 14px;
        color: #ffffff;
    }

    .imagenLogoHeader {
        width: 170px;
    }

    .containerUsuario {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .enlaceNavBar {
        padding: 10px;
    }

    .contenidoHeader {
        max-width: 960px;
    }

    .textoUsuario {
        font-size: 14px;
    }

}

@media (min-width: 1200px) {
    
    header {
       
    }

    .contenidoHeader {
        max-width: 1140px;
    }

}