@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,300;1,400&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&family=Raleway&display=swap');

.sliderImagenes {
    position: relative;
    width: 100%;
    height: 150px;
}

.imagenSlider {
    width: 100%;
    height: 100%;
}

.flechaIzquierda {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.flechaDerecha {
    display: flex;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.imagenFlecha {
    font-size: 25px;;
    color: rgba(255, 255, 255, 0.8);
}

.lineaEstetica {
    display: none;
}

.ContenedorTitulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tituloDestacadosA {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    font-weight: normal;
    padding-right: 5px;
}

.tituloDestacadosB {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    padding-left: 5px;
    color: #cc0000;
    font-weight: bold;
}

.tituloServiciosA {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    font-weight: normal;
    padding-right: 5px;
}

.tituloServiciosB {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    padding-left: 5px;
    color: #cc0000;
    font-weight: bold;
}

.tituloServicios {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.productosDestacados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    max-width: 324px;
    margin: auto;
    
}

.enlaceProducto {
    display: block;
    width: 90%;
    height: 360px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    transition: box-shadow 0.5s;
}

.enlaceProducto:hover {
    box-shadow: 0px 0px 10px #cc0000;
}

.cuadroProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.imagenProducto {
    height: 65%;
    width: 80%;
    padding: 10px;
}

.lineaEsteticaProducto {
    display: block;
    border-top: 1px solid rgb(221, 218, 218);
    width: 100%;
    position: absolute;
    top: 245px;
    z-index: 1;
    margin: auto;
   
}

.datosProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35%;
}

.nombreProducto {
    font-size: 18px;
    padding: 5px;
    font-weight: normal;
    color: rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
}

.precioProducto {
    display: flex;
    width: 100px;
    padding: 10px 5px 5px 5px;
    justify-content: center;
    align-items: center;
}

.textoPrecio {
    color: #00a650;
    font-family: 'Roboto' , sans-serif;
    font-weight: normal;
}

.descripcionProducto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.textoDescripcion {
    color: #636363;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto' , sans-serif;
    text-align: center;
}

.serviciosOfrecidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 324px;
    margin: auto;
}

.cuadroServicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
}

.imagenServicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.logoServicio {
    font-size: 40px;
    color: #cc0000;
}

.datosServicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tituloServicio {
    font-family: 'Raleway' , sans-serif;
    font-size: 18px;
    color: black;
    padding: 10px;
}

.descripcionServicio {
    font-family: 'Raleway' , sans-serif;
    font-size: 14px;
    color: #636363;
    text-align: center;
}

@media (min-width: 460px) {
    
    .sliderImagenes {
        height: 175px;
    }

    .flechaIzquierda {
        top: 62.5px;
    }
    
    .flechaDerecha {
        top: 62.5px;
    }

    .productosDestacados {
        justify-content: space-around;
    }
    
    .enlaceProducto {
        width: 45%;
        height: 300px;
    }

    .imagenProducto {
        height: 55%;
    }

    .datosProducto {
        height: 45%;
    }

    .lineaEsteticaProducto {
        display: block;
        border-top: 1px solid rgb(221, 218, 218);
        width: 100%;
        position: absolute;
        top: 170px;
        z-index: 1;
        margin: auto;
       
    }

    .nombreProducto {
        font-size: 16px;
    }

    .productosDestacados {
        max-width: 450px;
    }

    .encabezadoProductos {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 10px;
        height: 44px;
        max-width: 450px;
        margin: auto;
    }

    .ContenedorTitulo {
        z-index: 10;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        background-color: #fff;
    }

    .tituloServicios {
        z-index: 10;
        padding: 0px;
        width: 160px;
        position: relative;
        background-color: #fff;
    }

    .lineaEstetica {
        display: block;
        border-top: 1px solid #eee;
        width: 100%;
        position: absolute;
        top: 21.5px;
        z-index: 1;
        margin: auto;
    }

    .serviciosOfrecidos {
        max-width: 450px;
    }

}

@media (min-width: 768px) {

    .sliderImagenes {
        height: 225px;
    }

    .flechaIzquierda {
        top: 87.5px;
    }
    
    .flechaDerecha {
        top: 87.5px;
    }

    .encabezadoProductos {
        max-width: 720px;
        height: 50px;
    }

    .lineaEstetica {
        top: 24.5px;
    }

    .productosDestacados {
        max-width: 720px;
        justify-content: center;
    }

    .enlaceProducto {
        width: 30%;
        margin-right:  10px;
        margin-left: 10px;
        margin-bottom: 10px;
        height: 300px;
    }

    .cuadroProducto {
        justify-content: space-around;
    }

    .imagenProducto {
        height: 55%;
    }

    .nombreProducto {
        font-size: 18px;
    }

    .tituloServicio {
        border: none;
        padding: 10px 0px 10px 0px;
        font-size: 16px;
    }

    .serviciosOfrecidos {
        max-width: 720px;
        align-items: flex-start;
        justify-content: space-around;
    }
    
    .cuadroServicio {
        width: 30%;
    }

}

@media (min-width: 992px) {
    
    .sliderImagenes {
        height: 275px;
    }

    .flechaIzquierda {
        top: 132.5px;
    }
    
    .flechaDerecha {
        top: 132.5px;
    }

    .encabezadoProductos {
        max-width: 960px;
        height: 60px;
    }

    .lineaEstetica {
        top: 29.5px;
    }

    .productosDestacados {
        max-width: 720px;
        
    }

    .enlaceProducto {
        width: 22%;
        margin-right:  0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .productosDestacados {
        max-width: 960px;
        justify-content: space-evenly;
    }

    .nombreProducto {
        font-size: 17px;
    }

    .serviciosOfrecidos {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .sliderImagenes {
        height: 300px;
        max-width: 1600px;
        margin: auto;
    }

    .flechaIzquierda {
        top: 125px;
    }
    
    .flechaDerecha {
        top: 125px;
    }

    .encabezadoProductos {
        max-width: 1140px;
        height: 80px;
    }

    .nombreProducto {
        font-size: 18px;
    }

    .cuadroProducto {
        flex-direction: row;
    }

    .lineaEsteticaProducto {
        top: 220px;
    }

    .lineaEstetica {
        top: 39.5px
    }

    .productosDestacados {
        max-width: 1140px;
        justify-content: space-evenly;
    }

    .enlaceProducto {
        width: 22%;
        height: 340px;
    }

    .imagenProducto {
        height: 60%;
        padding-top: 30px;
    }
    
    .tituloServicio {
        border: none;
        padding: 10px 0px 10px 0px;
    }

    .serviciosOfrecidos {
        max-width: 1140px;
        align-items: flex-start;
        justify-content: space-between;
    }
    .cuadroServicio {
        width: 30%;
    }

}



