@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
}

h4 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logoHeader {
    width: 170px;
    height: 60px;
}

.imagenLogoHeader {
    width: 100%;
    height: 100%;
}

.barraNavegacion {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
}

.logoBusqueda {
    color: #636363;
    font-size: 20px;
}

.logoCarrito {
    color: #636363;
    font-size: 20px;
}

.enlaceNavBar {
    display: none;
}

.burgerMenu {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.logoBurger {
    color: #636363;
    font-size: 25px;
}

.sliderImagenes {
    position: relative;
    width: 100%;
    height: 150px;
}

.imagenSlider {
    width: 100%;
    height: 100%;
}

.flechaIzquierda {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.flechaDerecha {
    display: flex;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.imagenFlecha {
    font-size: 25px;;
    color: rgba(255, 255, 255, 0.8);
}

.tituloDestacados {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.tituloServicios {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    border-color: #cecaca;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.productosDestacados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}

.enlaceProducto {
    display: block;
    width: 90%;
    height: 325px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(207, 206, 206);
    padding: 10px;
    background-color: #fff;
}

.cuadroProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imagenProducto {
    height: 75%;
    width: 80%;
}

.datosProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25%;
}

.nombreProducto {
    font-size: 18px;
    font-weight: normal;
    color: #636363;
    font-family: 'Roboto' , sans-serif;
}

.precioProducto {
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: solid;
    border: 1px solid #ccc;
    background-color: rgb(244, 242, 242);
}

.textoPrecio {
    color: #636363;
    font-family: 'Roboto' , sans-serif;
}

.serviciosOfrecidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.cuadroServicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
}

.imagenServicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #cc0000;
    border-radius: 100%;
}

.logoServicio {
    font-size: 30px;
    color: white;
}

.datosServicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tituloServicio {
    font-family: 'Roboto' , sans-serif;
    font-size: 18px;
    color: black;
    padding: 10px;
}

.descripcionServicio {
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    color: #636363;
    text-align: justify;
}

.contenidoFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto;
    border-top: solid;
    border-width: thin;
    border-color: #cecaca;
}

.tituloFooter {
    font-family: 'Roboto' , sans-serif;
    font-size: 15px;
    color: #636363;
    padding: 10px;
}

.lineaTextoFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.textoLineaFooter {
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    margin-left: 8px;
    color: #636363;
}

.logoFooter {
    color: #636363;
    font-size: 17px;
}

.textoDerechosFooter {
    font-family: 'Roboto' , sans-serif;
    font-size: 13px;
    padding: 5px;
    color: #636363;
}

@media (min-width: 460px) {
    
    .productosDestacados {
        justify-content: space-around;
    }
    .enlaceProducto {
        width: 45%;
        height: 250px;
    }
}

@media (min-width: 580px) {
    
    .enlaceProducto {
        width: 45%;
        height: 300px;
    }

    .cuadroServicio {
        width: 70%;
    }
}

@media (min-width: 769px) {
    
    .burgerMenu {
        display: none;
    }

    .enlaceNavBar {
        display: block;
    }

    .logoHeader {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .imagenLogoHeader {
        width: 170px;
    }

    .barraNavegacion {
        width: 70%;
    }

    .enlaceNavBar {
        font-family: 'Roboto' , sans-serif;
        font-size: 14px;
        color: #636363;
    }
}

@media (min-width: 980px) {
    
    .barraNavegacion {
        width: 50%;
        justify-content: flex-end;
    }

    .enlaceNavBar {
        margin-right: 15px;
    }

    .enlaceBusqueda {
        margin-right: 15px;
    }

    .enlaceCarritoCompras {
        margin-right: 15px;
    }

    .sliderImagenes {
        height: 250px;
    }

    .flechaIzquierda {
        top: 100px;
    }
    
    .flechaDerecha {
        top: 100px;
    }

    .tituloDestacados {
        padding: 30px 20px 20px 20px;
    }

    .productosDestacados {
        width: 80%;
        justify-content: space-between;
    }

    .enlaceProducto {
        width: 22%;
        height: 350px;
    }

    .tituloServicios {
        border: none;
    }

    .serviciosOfrecidos {
        width: 80%;
        align-items: flex-start;
        justify-content: space-around;
    }
    .cuadroServicio {
        width: 30%;
    }


}



