@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    border-bottom: 1px solid #eee;
}

body {
    margin: 0px;
    min-height: 100vh;
    padding-bottom: 182px;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.register-containerRegistro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 324px;
    margin: auto;
}

.register-tituloRegistro {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: auto;
}

.register-formRegistro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.register-input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc; 
    color: #636363;
    font-weight: normal;
    font-family: 'Roboto' , sans-serif;
    height: 38px;
    transition: box-shadow 0.5s;
    outline: none;
}

.register-input:hover {
    box-shadow: 0px 0px 5px #cc0000;
}

.register-primerParteFormulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-buttonFinalizar {
    width: 60%;
    height: 35px;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto' , sans-serif;
    border: 1px solid #cc0000;
    color:white;
    background-color: #cc0000;
    margin-bottom: 20px;
    margin-top: 10px;
}

.register-buttonFinalizar:hover {
    background-color: #636363;
    border: 1px solid #636363;
    color:white;
}

.register-logoButton {
    font-size: 14px;
    padding: 5px;
}

.register-labelCargarImagen {
    font-weight: bold;
    font-size: 13px;
    font-family: 'Roboto' , sans-serif;
    color: #6e6a6a;
    padding: 5px 0px 5px 0px;
}

.register-containerFileInput {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    border-top: 1px solid rgb(221, 218, 218);
    margin-top: 10px;
}

.register-contenedorErrorUsuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-contenedorErrorPassword {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-contenedorErrorPasswordRepetida {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-contenedorErrorNombre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-contenedorErrorApellido {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-contenedorErrorEmail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-contenedorErrorTelefono {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-contenedorErrorPasswordAdmin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.register-textoError {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Roboto' , sans-serif;
    color: #cc0000;
}



@media (min-width: 460px) {

    .register-containerRegistro {
        max-width: 380px;
    }

}

@media (min-width: 768px) {

    body {
        padding-bottom: 137px;
    }

    .register-containerRegistro {
        max-width: 600px;
        
    }

    .register-tituloRegistro {
        display: flex;
        align-self: flex-start;
        margin: 0px;
        padding: 20px 0px 20px 0px;
    }

    .register-buttonFinalizar {
        width: 50%;
        font-size: 16px;
    }
    
    .register-logoButton {
        font-size: 16px;
    }
}