@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,300;1,400&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&family=Raleway&display=swap');

.ContenedorTotal-Producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 5px;
}

.Contenedor-Productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.CampoID-Producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
}

.CampoNombre-Producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    padding: 5px;
    padding-left: 10px;
}

.Info-Producto {
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    font-weight: normal;
    font-size: 16px;
}