@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,300;1,400&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&family=Raleway&display=swap');

.LineaEstetica-SeparadorSeccion {
    display: none;
}

.ContenedorTitulo-SeparadorSeccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.TituloDestacadosA-SeparadorSeccion {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    font-weight: normal;
    padding-right: 5px;
}

.TituloDestacadosB-SeparadorSeccion {
    font-size: 20px;
    color:  rgb(73, 70, 70);
    font-family: 'Raleway' , sans-serif;
    padding-left: 5px;
    color: #cc0000;
    font-weight: bold;
}

@media (min-width: 460px) {

    .EncabezadoProductos-SeparadorSeccion {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 10px;
        height: 44px;
        max-width: 450px;
        margin: auto;
    }

    .ContenedorTitulo-SeparadorSeccion {
        z-index: 10;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        background-color: #fff;
    }

    .LineaEstetica-SeparadorSeccion {
        display: block;
        border-top: 1px solid #eee;
        width: 100%;
        position: absolute;
        top: 21.5px;
        z-index: 1;
        margin: auto;
    }
}

@media (min-width: 768px) {

    .EncabezadoProductos-SeparadorSeccion {
        max-width: 720px;
        height: 50px;
    }

    .LineaEstetica-SeparadorSeccion {
        top: 24.5px;
    }

}

@media (min-width: 992px) {
    
    .EncabezadoProductos-SeparadorSeccion {
        max-width: 960px;
        height: 60px;
    }

    .LineaEstetica-SeparadorSeccion {
        top: 29.5px;
    }
}

@media (min-width: 1200px) {

    .EncabezadoProductos-SeparadorSeccion {
        max-width: 1140px;
        height: 80px;
    }

    .LineaEstetica-SeparadorSeccion {
        top: 39.5px
    }
}