<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Reselec</title>
</head>
<body>
    <header>

        <div class = "contenidoHeader">
            <a class = "burgerMenu" href="#"> <i class="logoBurger fa-sharp fa-solid fa-bars"></i> </a>
        
            <a class = "logoHeader" href="/">
                <img class = "imagenLogoHeader" src="/images/ReselecLogoHeader.png">
            </a>
        
                
            <div class = "barraNavegacion">
                <a class = "enlaceNavBar" href="#">HOME</a>
                <a class = "enlaceNavBar" href="/productDetail">PRODUCTOS</a>
                <a class = "enlaceNavBar" href="#">INGRESA</a>
                <a class = "enlaceNavBar" href="#">REGISTRATE</a>
                <a class = "enlaceBusqueda" href="#"> <i class="logoBusqueda fa-solid fa-magnifying-glass"> </i></a>
                <a class = "enlaceCarritoCompras" href="/productCart"> <i class="logoCarrito fa-sharp fa-solid fa-cart-shopping"></i> </a>
            </div>
        </div>
    
    </header>

    <main>
        <div class = "sliderImagenes">
            <img class = "imagenSlider" src="/images/bannerProvisorio.jpg" alt="">
            <a class = "flechaIzquierda" href=""> <i class="imagenFlecha fa-solid fa-angle-left"> </i></a>
            <a class = "flechaDerecha" href=""> <i class="imagenFlecha fa-solid fa-angle-right"> </i></a>
        </div>
        
        <div class = "encabezadoProductos">
            <div class = "lineaEstetica"></div>
            <h3 class = "tituloDestacados">Productos Destacados</h3>
        </div>
        
        <section class = "productosDestacados">
            
            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/Pirometro.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Pirometro Digital </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Pirometro digital de dos salidas</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $45000 </p>
                        </div>
                    </div>
                </article>
            </a>

            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/Plana.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Resistencia Plana </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Resistencia calefactora plana</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $20000 </p>
                        </div>
                    </div>
                </article>
            </a>

            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/PlanaConAgujeros.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Resistencia Plana </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Resistencia calefactora plana</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $25000 </p>
                        </div>
                    </div>
                </article>
            </a>

            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/Suncho.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Suncho Estandar </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Suncho de acero inxoidable</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $30000 </p>
                        </div>
                    </div>
                </article>
            </a>

            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/BornerasCeramicas.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Borneras Ceramicas </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Borneras ceramicas bipolares</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $10000 </p>
                        </div>
                    </div>
                </article>
            </a>

            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/RelayEstadoSolido.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Relé Estado Sólido </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Relé de estado solido SSR 60 DA</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $20000 </p>
                        </div>
                    </div>
                </article>
            </a>

            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/CableJ.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Cable "J" </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Cable compensado tipo J</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $5000 </p>
                        </div>
                    </div>
                </article>
            </a>

            <a class = "enlaceProducto" href="#">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/Termocuplas.jpg" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> Termocuplas </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion>Termocuplas tipo J, K y S</p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $22000 </p>
                        </div>
                    </div>
                </article>
            </a>

        </section>

        <div class = "encabezadoProductos">
            <div class = "lineaEstetica"></div>
            <h3 class = "tituloServicios">Te Ofrecemos</h3>
        </div>

        <section class = "serviciosOfrecidos">
            
            <article class = "cuadroServicio">
    
                <div class = "imagenServicio"> <i class="logoServicio fa-solid fa-calculator"></i> </div>
                
                <div class = "datosServicio">
                    <h4 class = tituloServicio>Cálculos de Ingenieria</h4>
                    <p class = "descripcionServicio">Cálculos de potencia y el diseño de tableros de control de temperatura a según las necesidades del usuario.</p>
                </div>
    
            </article>

            <article class = "cuadroServicio">
    
                <div class = "imagenServicio"> <i class="logoServicio fa-solid fa-mobile-screen"></i> </div>
                
                <div class = "datosServicio">
                    <h4 class = tituloServicio>Asesoramiento Técnico</h4>
                    <p class = "descripcionServicio">Procuramos no solamente ofrecer nuestros productos, sino transformarnos en un colaborador de nuestros clientes.</p>
                </div>
    
            </article>

            <article class = "cuadroServicio">
    
                <div class = "imagenServicio"> <i class="logoServicio fa-solid fa-pencil"></i> </div>
                
                <div class = "datosServicio">
                    <h4 class = tituloServicio>Desarrollos Especiales</h4>
                    <p class = "descripcionServicio">El equipamiento de la empresa y su capacidad técnica y experiencia, permiten ofrecer la elaboración de nuevos diseños electrónicos a pedido.</p>
                </div>
    
            </article>

            

        </section>

    </main>

    <footer>
        <div class = "contenidoFooter">
            
            <div class = "datosContacto">
                <h4 class = "tituloFooter">CONTACTANOS</h4>
            
                <div class = "lineaTextoFooter">
                    <i class="logoFooter fa-brands fa-whatsapp"></i>
                    <p class = "textoLineaFooter">54 9 11 5661-0726</p>
                </div>
    
                <div class = "lineaTextoFooter">
                    <i class="logoFooter fa-solid fa-house"></i>
                    <p class = "textoLineaFooter">Ituzaingó - Buenos Aires</p>
                </div>
                
                <div class = "lineaTextoFooter">
                    <i class="logoFooter fa-solid fa-envelope"></i>
                    <p class = "textoLineaFooter">contacto@reselec.com.ar</p>
                </div>
            </div>

            <div class = "logosRedesSociales">
                <a href="#" class = "enlaceRedSocial"><i class="logoRedSocial fa-brands fa-facebook"></i></a>
                <a href="#" class = "enlaceRedSocial"><i class="logoRedSocial fa-brands fa-instagram"></i></a>
                <a href="#" class = "enlaceRedSocial"><i class="logoRedSocial fa-brands fa-youtube"></i></a>
            </div>

            <p class = "textoDerechosFooter"> Copyright © 2006-2023 Reselec S.A.S </p>
        </div>
    </footer>
</body>
</html>