<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProductCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Reselec</title>
</head>
<body>
    <header>

        <div class = "contenidoHeader">
            <a class = "burgerMenu" href="#"> <i class="logoBurger fa-sharp fa-solid fa-bars"></i> </a>
        
            <a class = "logoHeader" href="/">
                <img class = "imagenLogoHeader" src="/images/ReselecLogoHeader.png">
            </a>
        
                
            <div class = "barraNavegacion">
                <a class = "enlaceNavBar" href="/">HOME</a>
                <a class = "enlaceNavBar" href="/productDetail">PRODUCTOS</a>
                <a class = "enlaceNavBar" href="/login">INGRESA</a>
                <a class = "enlaceNavBar" href="/register">REGISTRATE</a>
                <a class = "enlaceBusqueda" href="#"> <i class="logoBusqueda fa-solid fa-magnifying-glass"> </i></a>
                <a class = "enlaceCarritoCompras" href="/productCart"> <i class="logoCarrito fa-sharp fa-solid fa-cart-shopping"></i> </a>
            </div>
        </div>
    
    </header>

    <main>
        
        <div class = "productosCarritoCC">
            <h3 class = "tituloCC"> CARRITO DE COMPRAS </h3>
        
            <div class = "detalleProductoCC">
                <div class = "containerImagenProductoCC">
                    <img class = "imagenProductoCC" src="/images/Pirometro.jpg" alt="">
                </div>
                
                <div class = "nombreYPrecioCC">
                    <h4 class = "nombreProductoCC">Pirometro Digital</h4>
                    <h4 class = "precioProductoCC">$45000</h4>
                </div>

                <div class = "containerInformacionCC">
                    
                    <a class = "quitarProductoCC" href="#">
                        <i class="cruzQuitarCC fa-solid fa-xmark"></i>
                        <h4 class = "textoQuitarCC">QUITAR</h4>
                    </a>

                    <div class = "lineaEsteticaCC"></div>

                    <div class = "aumentarCantidadCC">
                        <a class = "signoMenosCC" href="#"> <i class="fa-solid fa-minus"></i> </a>
                        <div class = "cantidadCC"> <p>1</p> </div>
                        <a class = "signoMasCC" href="#"> <i class="fa-solid fa-plus"></i> </a>
                    </div>

                    <h4 class = "subtotalCC">Subtotal</h4>
                    <h4 class = "precioSubtotalCC">$15000</h4>
                </div>
                
            </div>
        </div>
        

        
        <div class = "finalizarCompraCC">
            <h3 class = "tituloFinalizarCompraCC"> FINALIZAR COMPRA </h3>
            <form class = "formProductCartCC" action = "/" method = "GET"> 

                <div class = "primerParteFormularioCC">

                    <select class = "inputProductCartCC" name = "formaDePago" required> 
                        <option value = "disabled"> FORMA DE PAGO </option>
                        <option value = "efectivo"> EFECTIVO </option>
                        <option value = "transferencia"> TRANSFERENCIA Ó DEPOSITO BANCARIO</option>
                    </select>

                    <select class = "inputProductCartCC" type="text" placeholder="CONDICION IVA" name = "condicionIva" id = "usuario" required>
                        <option value = "disabled"> CONDICION IVA </option>
                        <option value = "responsableInscripto"> RESPONSABLE INSCRIPTO </option>
                        <option value = "monotributo"> MONOTRIBUTO </option>
                        <option value = "ivaExento"> IVA EXENTO </option>
                        <option value = "consumidorFinal"> CONSUMIDOR FINAL </option>
                    </select>

                    <input class = "inputProductCartCC" type="text" placeholder="NOMBRE Y APELLIDO" name = "nombreYApellido" required minlength="5"> </input>
                    <input class = "inputProductCartCC" type="text" placeholder="CUIT/DOCUMENTO" name = "cuitODni" required minlength="8"> </input>
                    <input class = "inputProductCartCC" type="email" placeholder="E-MAIL" name = "email" required minlength="5"> </input>
                    <input class = "inputProductCartCC" type="tel" placeholder="TELEFONO" name = "telefono" required minlength="10"> </input>

                </div>

                <div class = "segundaParteFormularioCC">
                    <select class = "inputProductCartCC" type="text" placeholder="FORMA DE ENVIO" name = "formaDePago" required> 
                        <option value = "disabled"> FORMA DE ENVIO </option>
                        <option value = "retiraEnLocal"> RETIRA EN LOCAL </option>
                        <option value = "envioDomicilio"> ENVIO A DOMICILIO </option>
                        <option value = "envioCorreo"> ENVIO A SUCURSAL CORREO </option>
                        <option value = "envioTransporte"> ENVIO POR TRANSPORTE </option>
                    </select>

                    <textarea class = "textAreaComentariosCC" type="text" placeholder="COMENTARIOS" name = "comentarios"></textarea>
                
                
                    <button type = "submit" class = "buttonProductCartCC" > 
                        FINALIZAR PEDIDO
                        <i class="logoButtonCC fa-sharp fa-solid fa-cart-shopping"></i> 
                    </button>

                </div>
                

            </form>
        </div>
        

    </main>

    <footer>
        <div class = "contenidoFooter">
            
            <div class = "datosContacto">
                <h4 class = "tituloFooter">CONTACTANOS</h4>
            
                <div class = "lineaTextoFooter">
                    <i class="logoFooter fa-brands fa-whatsapp"></i>
                    <p class = "textoLineaFooter">54 9 11 5661-0726</p>
                </div>
    
                <div class = "lineaTextoFooter">
                    <i class="logoFooter fa-solid fa-house"></i>
                    <p class = "textoLineaFooter">Ituzaingó - Buenos Aires</p>
                </div>
                
                <div class = "lineaTextoFooter">
                    <i class="logoFooter fa-solid fa-envelope"></i>
                    <p class = "textoLineaFooter">contacto@reselec.com.ar</p>
                </div>
            </div>

            <div class = "logosRedesSociales">
                <a href="#" class = "enlaceRedSocial"><i class="logoRedSocial fa-brands fa-facebook"></i></a>
                <a href="#" class = "enlaceRedSocial"><i class="logoRedSocial fa-brands fa-instagram"></i></a>
                <a href="#" class = "enlaceRedSocial"><i class="logoRedSocial fa-brands fa-youtube"></i></a>
            </div>

            <p class = "textoDerechosFooter"> Copyright © 2006-2023 Reselec S.A.S </p>
        </div>
    </footer>
    
</body>
</html>