<header>

    <div class = "contenidoHeader">
        <a class = "burgerMenu" href="#"> <i class="logoBurger fa-sharp fa-solid fa-bars"></i> </a>
    
        <a class = "logoHeader" href="/">
            <img class = "imagenLogoHeader" src="/images/ReselecLogoHeader.png">
        </a>
    
            
        <div class = "barraNavegacion">
            <a class = "enlaceNavBar" href="/">HOME</a>
            <a class = "enlaceNavBar" href="/listadoProductos">PRODUCTOS</a>
            <a class = "enlaceNavBar" href="/login">INGRESA</a>
            <a class = "enlaceNavBar" href="/register">REGISTRATE</a>
            <a class = "enlaceBusqueda" href="#"> <i class="logoBusqueda fa-solid fa-magnifying-glass"> </i></a>
            <a class = "enlaceCarritoCompras" href="/productCart"> <i class="logoCarrito fa-sharp fa-solid fa-cart-shopping"></i> </a>
        </div>
    </div>

</header>