<section class = "productosDestacados">
            
    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/Pirometro.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Pirometro Digital </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Pirometro digital de dos salidas</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $45000 </p>
                </div>
            </div>
        </article>
    </a>

    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/Plana.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Resistencia Plana </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Resistencia calefactora plana</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $20000 </p>
                </div>
            </div>
        </article>
    </a>

    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/PlanaConAgujeros.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Resistencia Plana </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Resistencia calefactora plana</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $25000 </p>
                </div>
            </div>
        </article>
    </a>

    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/Suncho.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Suncho Estandar </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Suncho de acero inxoidable</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $30000 </p>
                </div>
            </div>
        </article>
    </a>

    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/BornerasCeramicas.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Borneras Ceramicas </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Borneras ceramicas bipolares</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $10000 </p>
                </div>
            </div>
        </article>
    </a>

    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/RelayEstadoSolido.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Relé Estado Sólido </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Relé de estado solido SSR 60 DA</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $20000 </p>
                </div>
            </div>
        </article>
    </a>

    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/CableJ.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Cable "J" </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Cable compensado tipo J</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $5000 </p>
                </div>
            </div>
        </article>
    </a>

    <a class = "enlaceProducto" href="/products/productDetail">
        <article class = "cuadroProducto">
            <img class = "imagenProducto" src="/images/Termocuplas.jpg" alt="">
            <div class = "lineaEsteticaProducto"></div>
            <div class = "datosProducto">
                <h4 class = "nombreProducto"> Termocuplas </h4>
                <div class = "descripcionProducto">
                    <p class = textoDescripcion>Termocuplas tipo J, K y S</p>
                </div>
                <div class = "precioProducto">
                    <p class = "textoPrecio"> $22000 </p>
                </div>
            </div>
        </article>
    </a>

</section>