<!DOCTYPE html>
<html lang="en">

<% const nombreEstilo = "style-Index.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>
    <%- include('../partials/header.ejs' , {nombreUsuario : nombreUsuario}) %>

    <main>
        <div class="cajaLogout">
        <h1 class="logout">¿Está seguro de que desea cerrar sesión?</h1>
        <form method="POST" action="/logout">
          <button type="submit">Cerrar sesión</button>
        </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>