<!DOCTYPE html>
<html lang="en">

<% const nombreEstilo = "style-Login.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>
    <header>

        <div class = "contenidoHeader">

            <a class = "logoHeader" href="/">
                <img class = "imagenLogoHeader" src="/images/home/ReselecLogoHeader.png">
            </a>
        
        </div>
    
    </header>

    <main>
        <div class="login-fondo">
            <div class="login-container">
                <div class = "login-container-bienvenido">
                    <h3 class = "login-bienvenido"><i class="fa-solid fa-users"></i></h3>
                </div>

                <form class="login-form" action="/users/login" method="post">
                    <div class="login-control-formulario">
                        <input type="text" placeholder="Nombre de Usuario" class="login-control" name="usuario" value = "<%= locals.oldData ? oldData.usuario : null %>"> </input>
                    </div>
                    <div class="login-control-formulario">
                        <input type="password" placeholder="Contraseña" class="login-control" name="password"> </input>
                    </div>
                    <% if (locals.errors && errors.password) {%>
                        <div class = "register-contenedorError">
                            <h3 class = "register-textoError"><%= errors.password.msg %></h3>
                        </div>
                    <% } %>
                    <a href="#" value="" class="login-olvidado">OLVIDO SU CONTRASEÑA?</a>
                    <button type="submit" class="login-enviar">INGRESAR</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>