<!DOCTYPE html>
<html lang="en">

<% const nombreEstilo = "style-Register.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        
        <div class = "register-containerRegistro">
            <h3 class = "register-tituloRegistro"> REGISTRO </h3>
            <form class = "register-formRegistro" action = "/users/login" method = "post"  enctype="multipart/form-data"> 

                <div class = "register-primerParteFormulario">

                    <input class = "register-input" type="text" placeholder="USUARIO" name = "usuario" required minlength="5"> </input>
                    <input class = "register-input" type="password" placeholder="CONTRASEÑA" name = "contraseña" required minlength="5"> </input>
                    <input class = "register-input" type="password" placeholder="REPETIR CONTRASEÑA" name = "contraseñaRepetida" required minlength="5"> </input>
                    <input class = "register-input" type="text" placeholder="NOMBRE" name = "nombre" required minlength="5"> </input>
                    <input class = "register-input" type="text" placeholder="APELLIDO" name = "apellido" required minlength="5"> </input>
                    <input class = "register-input" type="email" placeholder="EMAIL" name = "email" required minlength="5"> </input>
                    <input class = "register-input" type="tel" placeholder="TELEFONO" name = "telefono" required minlength="10"> </input>
                    <div class = "register-containerFileInput">
                        <label class = "register-labelCargarImagen" for="imagen"> Imagen usuario </label>
                        <input class = "register-input" id = "imagenUsuario" type="file" name = "imagenUsuario"></input>
                    </div>
                    <input class = "register-input" type="password" placeholder="CONTRASEÑA ADMINISTRADOR" name = "contraseñaRepeitda" minlength="5"> </input>
                </div>

                <button type = "submit" class = "register-buttonFinalizar"> 
                    FINALIZAR REGISTRO
                    <i class="register-logoButton fa-solid fa-id-card"></i>
                </button>
                

            </form>
        </div>

        
    </main>
    <%- include('../partials/footer.ejs') %>
    

</body>
</html>